body {
  background-color: rgb(77, 92, 173);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white
}

table {
  color: white;
  text-align: center;
}

button {
  background-color: green;
  color: white;
  height: 30px;
  width: 150px;
  border-radius: 5px;
}

#board td {
  height: 100px;
  border: solid 1px white;
  background-color:rgb(7, 19, 185);
}

#column-top td {
  border: solid 1px white;
  background-color: blue;
  height: 50px;
  width: 250px
}
